/** Panel **/
.ui-panel-m .ui-panel-m-titlebar-icon {
    top: 50%;
    margin-top: -15px;
}

.ui-panel-m .ui-panel-m-titlebar {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit; 
    border-style: solid;
    border-width: 1px;
}

.ui-panel-m .ui-panel-m-content {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
}

/** Growl **/
.ui-growl-message {
    padding: 0.5em;
}

.ui-growl-summary {
    font-weight: bold;
}

.ui-growl-detail {
    font-weight: normal;
}

.ui-growl-item.ui-grid-a > .ui-block-a {
    width: 20%;
}

.ui-growl-item.ui-grid-a > .ui-block-b {
    width: 80%;
}

/** Dialog **/
.ui-dialog-container {
    display: none;
}

/** Calendar **/
.ui-calendar-inline .ui-input-text {
    display: none;
}

/** DataTable **/
.ui-table {
    table-layout: fixed;
}

.ui-table th.ui-sortable-column {
    position: relative;
}

.ui-table tr.ui-bar-b {
    border: 0 none;
    font-weight: normal;
}

.ui-datatable .ui-paginator .ui-controlgroup,
.ui-datagrid .ui-paginator .ui-controlgroup,
.ui-datalist .ui-paginator .ui-controlgroup {
    margin: 0;
    padding: 0.1em 0em;
    text-align: center;
}

.ui-datatable .ui-reflow-dropdown {
    display: none;
}

.ui-datatable-tablewrapper {
    overflow: auto;
}

@media ( max-width: 35em ) {
    
    .ui-paginator .ui-paginator-page {
        display: none;
    }
    
    .ui-datatable .ui-reflow-dropdown {
        display: block;
    }
    
}

/** DataGrid **/
.ui-datagrid .ui-datagrid-header,
.ui-datagrid .ui-datagrid-footer {
    text-align: center;
}

/** DataList **/
.ui-datalist .ui-listview  {
    margin-top: 0;
    margin-bottom: 0;
}

.ui-datalist.ui-datalist-topbar .ui-listview > li.ui-first-child, 
.ui-datalist.ui-datalist-topbar .ui-listview > li.ui-first-child > a.ui-button,
.ui-datalist.ui-datalist-bottombar .ui-listview > li.ui-last-child, 
.ui-datalist.ui-datalist-bottombar .ui-listview > li.ui-last-child > a.ui-button {
    border-radius: 0;
}

/** Messages **/
.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    border: 1px solid;
    margin: 10px 0px;
    padding:10px 10px 10px 10px;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
    border: 1px solid;;
    margin: 0px 5px;
    padding:2px 5px;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon,
.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
    background: url("#{resource['primefaces:mobile/images/messages.png']}") no-repeat;
    display:block;
    float:left;
    margin:0;
    padding:0;
    position: relative;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon {
    height:24px;
    width:24px;
    margin-top:-4px;
}

.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
    height:16px;
    width:16px;
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, 
.ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
    margin-left:10px;
    font-weight:bold;
}

.ui-messages-info-detail, .ui-messages-warn-detail, .ui-messages-error-detail, .ui-messages-fatal-detail,
.ui-message-info-detail, .ui-message-warn-detail, .ui-message-error-detail, .ui-message-fatal-detail {
    margin-left:5px;
}

.ui-messages-info, .ui-message-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.ui-messages-warn, .ui-message-warn {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.ui-messages-error, .ui-message-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.ui-messages-fatal, .ui-message-fatal {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.ui-messages ul {
    margin: 0 25px;
    padding:0;
    list-style-type:none;
}

.ui-messages.ui-messages-noicon ul {
    margin: 0 25px 0 0;
}

.ui-message-icon-only {
    width:16px;
    height:16px
}

.ui-messages-info-icon {background-position: 0px -316px;}
.ui-messages-warn-icon {background-position: 0px -448px;}
.ui-messages-error-icon {background-position: 0px -52px;}
.ui-messages-fatal-icon {background-position: 0px -184px;}
.ui-message-info-icon {background-position: 0px -360px;}
.ui-message-warn-icon {background-position: 0px -492px;}
.ui-message-error-icon {background-position: 0px -96px;}
.ui-message-fatal-icon {background-position: 0px -228px;}

.ui-messages .ui-messages-close {
    float:right;
    cursor: pointer;
}

/* icons for dialog renderer */

/* .ui-icon-arrow-l */
.ui-icon-circle-triangle-w {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%227%2C5%207%2C0%200%2C7%207%2C14%207%2C9%2014%2C9%2014%2C5%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
/* .ui-icon-arrow-r */
.ui-icon-circle-triangle-e {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C7%207%2C0%207%2C5%200%2C5%200%2C9%207%2C9%207%2C14%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
/* .ui-icon-arrow-l */
.ui-nosvg .ui-icon-circle-triangle-w  {
	background-image: url(images/icons-png/arrow-l-white.png);
}
/* .ui-icon-arrow-r */
.ui-nosvg .ui-icon-circle-triangle-e {
	background-image: url(images/icons-png/arrow-r-white.png);
}